<!DOCTYPE html>
<html lang="en">
<head>
    <!-- css styles -->
    <!-- web icon -->
    <!-- <link rel="shortcut icon" href="{{url_for('static', filename='images/herba.png')}}"> -->

    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <!-- nav goes here -->
    </header>

    <!-- Begin page content -->
    <main>
        <div>
            {% block content %}{% endblock %}
        </div>
    </main>
    
    <footer>
        <div>
            <!-- <span class="text-muted">I211 Project Flask App &copy; 2023</span> -->
        </div>
    </footer>
    <!-- scripts go here -->
</body>
</html>