{% extends "base.html" %}
{% block title %}MenteCorpo{% endblock %}
{% block content %}
    <div class="cs-cont">
        <div class="cs-box">
            <h2 class="comingsoon">COMING SOON</h2>
        </div>
    </div>
    
    <div class="container-lp">
        <div class="carousel">
            <div class="cards">
                {% for item in merch %}
                <div class="card">
                    <!-- <a class="merch" href="{{url_for('index', item_id=item.id)}}"> -->
                        <div class="product-info">
                            <img class="product-image" src="{{item.thumbnail}}" alt="{{item.name}}">
                            <div class="content">
                                <h3 class="title">{{item.name}}</h3>
                            </div>
                        </div>
                    </div>
                <!-- </a> -->
                {% endfor %}
            </div>
        </div>

        <img class="logobg" src="{{url_for('static', filename='images/Logo/Mente-CorpoTransparentBG.png')}}" alt="alt mentecorpo logo">
    </div>
    <script src="{{url_for('static', filename='js/lp.js')}}"></script> 
{% endblock %}