{% extends "base.html" %}
{% block title %}Title{% endblock %}
{% block content %}
    <div class="container">
        <div class="product-flex">
            {% for x in featured %}
            <a class="merch" href="{{url_for('item', item_id=x[0])}}">
                <div class="product-card">
                    <img class="product-image" src="{{url_for('static', filename='{}'.format(x[2]))}}">
                    <div class="product-card-info">
                        <h3>{{x[1]}}</h3>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}